<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 1.导入Vue的库文件 -->
    <script src="./lib/vue.js"></script>
</head>

<body>
    <!-- 希望Vue可以控制下面的div -->
    <div id="app">
        <!-- v-if 动态地删除元素 -->
        <!-- 如果刚进入页面 某些元素不需要被展示 而且后期这个元素很可能也不需要被展示出来 -->
        <p v-if="flag">这是v-if控制的元素</p>
        <!-- v-show 动态地给元素添加样式 display:none -->
        <!-- 如果要频繁地切换元素的显示状态 v-show性能会更好 -->
        <p v-show="flag">这是v-show控制的元素</p>
        <button @click="display">隐藏</button>

        <hr>
        <div v-if="type === 'A'">优秀</div>
        <div v-else-if="type === 'B'">良好</div>
        <div v-else-if="type === 'C'">及格</div>
        <div v-else>不及格</div>
    </div>
    <!-- 2.创建Vue的实例对象 -->
    <script>
        const vm = new Vue({
            //el属性时固定的写法  希望当前vm实例控制页面上的哪个区域,接受的值是一个选择器
            el: '#app',
            //data对象就是要渲染到页面上的数据
            data: {
                flag: true,
                type: 'A'
            },
            methods: {
                display() {
                    var btn = document.querySelector('button')
                    if (this.flag == true) {
                        this.flag = false
                        btn.innerText = '显示'
                    } else {
                        this.flag = true
                        btn.innerText = '隐藏'
                    }
                }
            }
        })
    </script>
</body>

</html>